apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  labels:
    app: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: app
        image: asia.gcr.io/${PROJECT_NAME}/app:${CIRCLE_SHA1}
        # image: asia.gcr.io/nullsuck/app:b579d918adaf26369b221a0d6b15334764b5e2d9
        ports:
        - containerPort: 3000
        env:
          - name: NODE_ENV
            value: "production"
          - name: API_URL
            value: "http://api-svc:5432"
